backend:
  name: github
  repo: cooldadpresident/pepioli
  branch: main

site_url: https://pepioli.netlify.app
display_url: https://pepioli.netlify.app

media_folder: public/images/uploads
public_folder: /images/uploads

collections:
  - name: blog
    label: Blog
    folder: src/content/blog
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: pubDate
        widget: datetime
        format: YYYY-MM-DD
      - label: Description
        name: description
        widget: text
      - label: Author
        name: author
        widget: string
        default: Josefína Povejšilová
      - label: Hero Image
        name: heroImage
        widget: image
        required: false
      - label: External Link
        name: externalLink
        widget: string
        required: false
      - label: Body
        name: body
        widget: markdown

  - name: recipes
    label: Recipes
    folder: src/content/recipes
    create: true
    slug: "{{slug}}"
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: pubDate
        widget: datetime
        format: YYYY-MM-DD
      - label: Description
        name: description
        widget: text
      - label: Image
        name: image
        widget: image
        required: false
      - label: Ingredients
        name: ingredients
        widget: list
        field:
          label: Item
          name: item
          widget: string
      - label: Body
        name: body
        widget: markdown

  - name: projects
    label: Projects
    folder: src/content/projects
    create: true
    slug: "{{slug}}"
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: pubDate
        widget: datetime
        format: YYYY-MM-DD
      - label: Description
        name: description
        widget: text
      - label: Image
        name: image
        widget: image
        required: false
      - label: Link
        name: link
        widget: string
        required: false
      - label: Body
        name: body
        widget: markdown
